.banner{
    background-image: url('../../../assets/images/landscape.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.banner .cat{
    left: 15%;
    top: 70%;
    width: 30%;
    max-width: 20rem;
   
}
.tamago-img{
    width: 80%;
    max-width: 19rem;
    animation: float 3s infinite;
}

@keyframes float{
    0%{
        transform: translate(0) rotate(-10deg);
    }
    50% {
        transform: translatey(-15px) rotate(-10deg);
    }
    100% {
        transform: translatey(0px) rotate(-10deg);
    }
}
.brush-img{
    max-width: 24rem;
    margin: auto;
}

.mx-tamago{
   width: fit-content;
}

.tamago-shadow{
    height: 10px;
    width: 14rem;
    position: relative;
} 

.tamago-shadow::after{
    content: "";
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(46, 46, 46, 0.2);
    animation: grow 3s infinite;
} 


@keyframes grow{
    0%{
        width: 80%;
    }
    50% {
        width:60%;
    }
    100% {
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .banner .cat{
        left: 10%;
        bottom: -5rem;
        width: 50%;
        max-width: 14rem;
    }
    .mx-tamago{
        max-width: 25rem;
    }

    .tamago-img{
        width: 80%;
        max-width: 15rem;
    }
    .corgi-img{
        width: 80%;
        max-width: 18rem;
    }
    
}